@import url(/imports.css);


.articles-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #e3e98f;
    padding: 20px;
    border: 4px solid #696f15;
  }
  
  article {
    display: flex;
    gap: 20px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;   
  }
  
  
  .book-Covers img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    
  }
  
  .book-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #696f15;
    padding: auto;
    font-family: 'Montserrat', sans-serif;
    
}
  
  .book-title {
    font-size: 24px;
    color: #8b911a;    
  }
  .book-details a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }